{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success text-center" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endif %}
{% endwith %}

<ul class="list-group list-group-flush">
    <li class="list-group-item">{{ user.name }}</li>
    <li class="list-group-item">{{ user["anos"] }}</li>
    <li class="list-group-item">{{ user.email }}</li>
</ul>

{% endblock %}
